<h1 class="center-align">Boon</h1>

<h2 class="center-align">Start tracking your stocks today.</h2>

<div class="center-align">
    <%= link_to "Create Stock", new_stock_path, class:"waves-effect waves-light btn blue darken-2 white-text hoverable center" %>
</div>