<h2><%= @category.name %></h2>

<ul class="collection">
    <% @result.each do |name| %>
        <li class="collection-item"><%= name %></li>
    <% end %>
</ul>


<%= link_to "Edit Category", edit_category_path, class:"left btn blue darken-2" %><br><br>
<%= link_to "Delete Category", category_path, method: 'delete', class:"btn red darken-2" %>